<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<div class="container">
  <h1>Result</h1>
   <p>Your guess: <%= params[:game] %></p>
   <% if @included %>
  <% if @english_word %>
    <p><strong>Congratulations!</strong> <%= @word %> is a valid English word!</p>
  <% else %>
    <p>Sorry but <strong><%= @word %></strong> does not seem to be a valid English word...</p>
  <% end %>
<% else %>
  <p>Sorry but <strong><%= @word %></strong> can't be built out of <%= @letters.join(", ") %></p>
<% end %>
   <p><%= @score%></p>
  <%= link_to "Play again", new_path %>
</div>

